<div class="container" style="padding: 45px;">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" style="text-align: center;background-color: #ff2c2c;font-weight: 800;"><a href="/angularlibraries/example" class="pointer" style="text-decoration-line: none;">ng-select</a></div>
        </div> 
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" style="text-align: center;background-color: #ff2c2c;font-weight: 800;"><a href="/angularlibraries/example" class="pointer" style="text-decoration-line: none;">rxjs</a></div>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 22px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>