<div class="container" style="padding: 45px;">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="text-align: center;background-color: #ff2c2c;font-weight: 800;"><a href="/angular" class="pointer" style="text-decoration-line: none;">Angular</a></div>
      </div> 
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="text-align: center;background-color: #ff2c2c;font-weight: 800;"><a href="/angularlibraries" class="pointer" style="text-decoration-line: none;">Angular libraries</a></div>
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>